# System files
.DS_Store

# Xcode user settings
xcuserdata/

# Builds
builds/*
!builds/README.md

# Files
files/*
!files/example.config
!files/README.md
!files/shortcut.lnk
!files/wx64/README.md

# Graphics
graphics/*
!graphics/README.md

# Source
source/*
!source/README.md
