# The name of your app

app-name: App Name

# The marketing version for your Mac app, shown in the Get Info pane

version: 1.0

# The build number for your Mac app

build: 1

# The bundle ID for your Mac app

bundle-id: com.example.AppName

# The bundle ID for x86 (Intel) builds of your Mac app. Optional. If you plan 
# to notarize both versions, you should use a different bundle ID for each.

bundle-id-x86: com.example.x86.AppName

# The base file name for your app. This base file name should be used for this
# config file, the dsk file, and the iconset folder. It will also be used for 
# the resulting zip file for Windows builds.

file-base: example

# Optional: Instructions for shutting down the emulated OS. This message will 
# appear when attempting to close the window if the OS is still running.
#
# ^p will be replaced with the name of the emulator, Mini vMac
# ;] will be replaced with ‘
# ;} will be replaced with ’
# ;[ will be replaced with “
# ;{ will be replaced with ”

quit-message: Press Command-Q on your keyboard to quit the current application and return to the desktop. On the desktop, open the ;[Special;{ menu and choose ;[Shut Down.;{ You can then close ^p safely.
